Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
fused-src/
lib/
libtool
scripts/gmock-config
src/.deps/
src/.dirstamp
src/.libs/
src/gmock-all.lo
src/gmock-all.o
src/gmock_main.lo
src/gmock_main.o
test/.deps/

